@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  color: #222;
  background: #fff;
}
body .cd-section {
  height: 100vh;
}
body .cd-section > div {
  height: 100%;
  position: relative;
}
body .cd-section > div .content {
  background: #ddd;
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 80px);
  left: 20px;
  bottom: 20px;
  overflow: hidden;
}

.about-inner {
  background: #1db1f0 url("./images/line-drawing.png") right bottom no-repeat;
  height: 100%;
  display: flex;
  align-items: center;
}
.about-inner .about-items {
  width: 45%;
  margin-left: 150px;
}
.about-inner .about-items .item {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.about-inner .about-items .item img {
  height: 100px;
  filter: invert(1);
  transition: all 0.5s;
}
.about-inner .about-items .item:hover img {
  filter: invert(0);
}
.about-inner .about-items .item span h3 {
  font-size: 28px;
}
.about-inner .about-items .item span p {
  font-size: 18px;
  margin-top: 5px;
}

.project-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  border: 1px solid #ddd;
  position: relative;
}
.project-inner input[name=tabmenu] {
  display: none;
}
.project-inner .tabs {
  width: 300%;
  height: 100%;
  transition: all 0.5s;
  display: flex;
}
.project-inner .tabs .tab {
  width: 33.3333%;
  height: 100%;
  display: flex;
}
.project-inner .tabs .tab > div {
  height: 100%;
}
.project-inner .tabs .tab > div.project-info {
  width: 25%;
  padding: 50px;
  position: relative;
}
.project-inner .tabs .tab > div.project-info::before {
  content: attr(data-text);
  font-size: 130px;
  color: #eee;
  position: absolute;
  top: -10px;
  left: 10px;
}
.project-inner .tabs .tab > div.project-info h3 {
  position: relative;
  font-size: 20px;
}
.project-inner .tabs .tab > div.project-info p {
  position: relative;
  font: normal 16px/2.4rem "Montserrat";
  margin: 20px 0;
}
.project-inner .tabs .tab > div.project-info ul {
  line-height: 4rem;
}
.project-inner .tabs .tab > div.project-info ul li::before {
  content: "\f105";
  font-family: fontawesome;
  margin-right: 10px;
}
.project-inner .tabs .tab > div.project-info .detail {
  margin: 20px 0 50px;
  display: flex;
  justify-content: center;
  color: #999;
}
.project-inner .tabs .tab > div.project-info .detail div {
  text-align: center;
  flex: 1;
}
.project-inner .tabs .tab > div.project-info .detail div span {
  display: block;
  font-size: 36px;
  font-weight: bold;
  color: #222;
  margin-bottom: 10px;
}
.project-inner .tabs .tab > div.project-info .view-project {
  display: inline-block;
  width: 220px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;
  background: #222;
  color: #fff;
  transition: all 0.3s;
}
.project-inner .tabs .tab > div.project-info .view-project:hover {
  background: #ddd;
  color: #222;
}
.project-inner .tabs .tab > div.project-photo {
  width: 75%;
}
.project-inner .tabs .tab > div.project-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-inner .btn {
  position: absolute;
}

.plan-inner {
  background: #222;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plan-inner .plan-feature {
  width: 80%;
}
.plan-inner .plan-feature > div {
  color: #ddd;
  height: 300px;
}
.plan-inner .plan-feature > div.plan-info {
  display: flex;
  gap: 50px;
}
.plan-inner .plan-feature > div.plan-info .plan-heading {
  flex: 2;
}
.plan-inner .plan-feature > div.plan-info .plan-heading h2 {
  color: #fff;
}
.plan-inner .plan-feature > div.plan-info .plan-heading .bar {
  background: #1db1f0;
  width: 100px;
  height: 4px;
  border: none;
  display: inline-block;
  margin: 20px 0;
}
.plan-inner .plan-feature > div.plan-info .plan-heading p {
  font: normal 16px/2.4rem "Montserrat", sans-serif;
  margin: 10px 0;
}
.plan-inner .plan-feature > div.plan-info .plan-photo {
  flex: 1;
}
.plan-inner .plan-feature > div.plan-info .plan-photo img {
  height: 265px;
}
.plan-inner .plan-feature > div.history-info h2 {
  color: #fff;
}
.plan-inner .plan-feature > div.history-info .bar {
  background: #1db1f0;
  width: 100px;
  height: 4px;
  display: inline-block;
  border: none;
  margin: 20px 0;
}
.plan-inner .plan-feature > div.history-info .history-slider div h4 {
  color: #fff;
  font: bold 20px/2.4rem "Montserrat";
}
.plan-inner .plan-feature > div.history-info .history-slider div h4 span {
  color: #1db1f0;
}
.plan-inner .plan-feature > div.history-info .history-slider div p {
  font: normal 16px/2.4rem "Montserrat";
}
.plan-inner .plan-feature > div.history-info .slick-arrow {
  display: none !important;
}
.plan-inner .plan-feature > div.history-info .slick-dots li button:before {
  font-size: 40px;
  color: #fff;
  top: 20px;
}

.contact-inner {
  background: #fff;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-inner .contact-feature {
  width: 70%;
  display: flex;
  gap: 20px;
}
.contact-inner .contact-feature > div {
  flex: 1;
}
.contact-inner .contact-feature .contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-inner .contact-feature .contact-form h3 {
  font: normal 30px/1rem "Montserrat", sans-serif;
}
.contact-inner .contact-feature .contact-form .send-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-inner .contact-feature .contact-form .send-box label {
  font: bold 16px/1rem "Montserrat", sans-serif;
}
.contact-inner .contact-feature .contact-form .send-box label span {
  color: crimson;
  font-weight: normal;
}
.contact-inner .contact-feature .contact-form .send-box input[type=Email],
.contact-inner .contact-feature .contact-form .send-box input[type=text],
.contact-inner .contact-feature .contact-form .send-box textarea {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
  transition: all 0.3s;
}
.contact-inner .contact-feature .contact-form .send-box input[type=Email]:focus,
.contact-inner .contact-feature .contact-form .send-box input[type=text]:focus,
.contact-inner .contact-feature .contact-form .send-box textarea:focus {
  outline: none;
  border: 1px solid #222;
  box-shadow: 0 0 5px #1db1f0;
}
.contact-inner .contact-feature .contact-form .send-box input[type=submit] {
  background: #1db1f0;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 3px;
  margin-top: 10px;
  transition: all 0.3s;
  width: 318px;
  justify-content: flex-start;
}
.contact-inner .contact-feature .contact-form .send-box input[type=submit]:hover {
  background: #222;
  color: #fff;
}
.contact-inner .contact-feature .contact-info h4 {
  font: normal 20px/1rem "Montserrat";
}
.contact-inner .contact-feature .contact-info ul {
  margin: 20px 0;
}
.contact-inner .contact-feature .contact-info ul li {
  line-height: 2.4rem;
}
.contact-inner .contact-feature .contact-info ul li .fa-regular {
  display: inline-block;
  margin-right: 6px;
}
.contact-inner .contact-feature .contact-info ul p {
  margin-top: 20px;
  line-height: 2.4rem;
}

.location-inner {
  background: url("./images/background-location.jpg") center/cover no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.location-inner::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}
.location-inner .feature {
  position: relative;
  color: #ddd;
  display: flex;
  gap: 100px;
  width: 70%;
}
.location-inner .feature .office {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  flex: 3;
}
.location-inner .feature .office b {
  text-transform: uppercase;
  font-weight: normal;
}
.location-inner .feature .office h2 {
  color: #1db1f0;
  font-weight: 500;
  margin-top: 5px;
}
.location-inner .feature .office p {
  font: normal 16px/2.4rem "Montserrat", sans-serif;
  margin: 10px 0;
}
.location-inner .feature .office span {
  color: #fff;
}
.location-inner .feature .service {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}
.location-inner .feature .service .service-item .fa-solid {
  color: #1db1f0;
  font-size: 40px;
}
.location-inner .feature .service .service-item h3 {
  color: #fff;
  font-size: 22px;
  margin: 10px 0;
}
.location-inner .feature .service .service-item p {
  font: normal 16px/2.4rem "Montserrat", sans-serif;
}

.awards-inner {
  height: 100%;
  border: 1px solid #ddd;
  display: flex;
}
.awards-inner > div {
  flex: 1;
  height: 100%;
  position: relative;
}
.awards-inner > div.about-awards {
  background: #1a1f24;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.awards-inner > div.about-awards .about-heading {
  text-align: center;
  width: 70%;
}
.awards-inner > div.about-awards .about-heading .bar {
  width: 50px;
  height: 4px;
  background: crimson;
  border: none;
  margin: 30px auto;
}
.awards-inner > div.about-awards .about-heading p {
  color: #999;
  font: 400 17px/1.5rem "Montserrat", sans-serif;
  margin-bottom: 30px;
}
.awards-inner > div.about-awards .about-heading .view-awards {
  color: #ddd;
  border: 1px solid #ddd;
  padding: 5px 15px;
  border-radius: 20px;
  transition: all 0.5s;
}
.awards-inner > div.about-awards .about-heading .view-awards:hover {
  color: #fff;
  background: #31c0ce;
  border: 1px solid transparent;
}
.awards-inner > div.victory-jump {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.awards-inner > div.victory-jump img {
  width: 80%;
}