* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
  height: 100vh;
  background: #222;
}
body .header_container {
  position: relative;
  z-index: 9;
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
}
body .header_container .header_navigation {
  position: fixed;
  padding: 0 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
body .header_container .header_navigation .logo {
  font: bold 24px/1rem "noto sans kr";
}
body .header_container .header_navigation .gnb {
  display: flex;
  justify-content: flex-end;
  gap: 60px;
  font-weight: 400;
  font-size: 18px;
  width: 1050px;
  text-transform: uppercase;
}
body .header_container .header_navigation .sns {
  width: 200px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 400;
}
body .header_content_video {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
body .header_content_video::before {
  content: "1";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1200px;
  background: rgba(0, 0, 0, 0.2);
}
body .inner_text {
  height: 100vh;
  position: relative;
  left: 0;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
  align-items: center;
  text-align: center;
  color: #fff;
  border: 1px solid #f00;
}
body .inner_text h1 {
  font-size: 150px;
}
body .inner_text h1 span {
  font-weight: 300;
}
body .inner_text div {
  width: 1px;
  height: 200px;
  background: #fff;
}
body .inner_text p {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}