// reset

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

// variable
$theme-color: #55b2e4;

.background {
  width: 100%;
  height: 100vh;
  background: url("./img/home.gif") center/cover no-repeat;
  .wrapper {
    .profile {
      flex: 1;
      width: 25vw;
      height: 100vh;
      gap: 50px;
      display: flex;
      flex-direction: column;
      border: 1px solid #f00;
      padding-left: 7vw;
      padding-top: 80px;
      .profileToday {
        text-align: center;
        b {
          color: crimson;
        }
      }
      .profileBody {
        .profileTop {
          .profileFeel {
            form {
              select {
                width: 16vw;
                height: 30px;
                text-align: center;
                font-size: 1rem;
              }
            }
          }
          .profileimg {
            margin-top: 20px;
            width: 270px;
            img {
              width: 100%;
              object-fit: cover;
            }
          }
          .profileMessage {
            padding: 30px 20px 20px;
          }
        }
        .profileCenter {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 88%;
          margin-top: 60%;
          border-bottom: 1px solid #999;
          & > div:nth-child(1) {
            span > i {
              color: $theme-color;
            }
          }
          & > div:nth-child(2) {
            height: 100%;
            display: flex;
            i {
              font-size: 1.3rem;
              color: #999;
            }
          }
        }
        .profileBottom {
          display: flex;
          flex-direction: column;
          gap: 4px;
          padding: 20px 6px;
          font-size: 1.2rem;
          & > span:nth-child(1) {
            color: #999;
            b {
              color: $theme-color;
            }
          }
          & > span:nth-child(2) {
            color: orange;
          }
        }
      }
    }
    .contents {
      // display: flex;
      // flex-direction: column;
      // flex: 1;
      // border: 1px solid #444;
    }
  }
}
